#title {
	color: black;
	font-weight: bold;
	text-align: left;
}

#title1 {
	color: black;
	font-weight: bold;
	text-align: center;
}

.form-group {
	width: 50%;
}

.ui-menu {
	background-color: #fff;
	list-style:none;
	padding: 10px;
	margin: 0;
	display:block;
	width:227px;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:1px;
	padding: 1px;
	width: 200px;
	border-bottom: 1px solid;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	margin: -1px;
}


header{
	font-weight: bold;
	text-align: center;
	font-size: 35px;
}

.btn-group {
	width: 15%;
	border-radius: 8px;
	display: inline;
}

.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
 .node text {
    font: 10px sans-serif;
 }
path.link {
	fill: none;
	stroke: black;
	stroke-width: 1.5px;

}

.submit-btn {
	border-radius: 2px; 
	background-color: white; 
	border: 1px solid black; 
	padding:1% 4%;
}

#side_menu {
	width: 1000%;
}