{% extends "bootstrap/base.html" %}
{% block styles %}
	{{ super()}}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}


{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-2"> </div>
			<div class="col-md-8" id="stu"> 
				<div style="margin-top:17%;">
					<div style="width: 60%; margin:0 auto; margin-bottom: 5%;">	
		  				<h1 style="margin-bottom: 5%;" id="title">Wikipedia Clicks & Hierarchies</h1>  

				  			<p>This is our viz explanation.</p> 
					</div>
				</div>
				<div>
					<div style="width:60%; margin: 0 auto;">
		  					<form class="form-inline" action="/wikiviz" >
		    						<input type="text" class="search-bar" id="wikipage" style="font-size: 120%;">  </input>
		    						<input type="submit" class="submit-btn" id="wikipage" style="font-size: 120%;"> 
							</form>
						</div>      
						<div>
		 					<p>Link to tutorial coming soon...</p> 
						</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}