{% extends "bootstrap/base.html" %}
{% block styles %}
	{{ super()}}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block scripts %}
{{super()}}

<script lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js"></script>
<script lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

<style>
.links line {
  stroke: #555;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #000;
  stroke-width: 1.5px;
}

</style>

<script>

	$(document).ready(function(){
    $("#article").autocomplete({
        source: function(request, response) {
            $.ajax({
                url: "http://en.wikipedia.org/w/api.php",
                dataType: "jsonp",
                data: {
                    'action': "opensearch",
                    'format': "json",
                    'search': request.term
                },
                success: function(data) {
                    response(data[1]);
                }
            });
        }
    });

    });

    function get_weight(v) {
        return Math.log(v);
    }
    
    var master_nodes = []
    var master_links = []

    var raw_results_to = '{{ results_to |tojson}}'
    var raw_results_from = '{{ results_from |tojson}}'
    var starticle = '{{article}}'

    var results_to = JSON.parse(raw_results_to);
    var results_from = JSON.parse(raw_results_from);

    master_nodes = master_nodes.concat(
            results_to.map(x => ({"id": x.name, "group": 0, "weight": get_weight(x.num_refs)}))
            .concat(results_from.map(x => ({"id": x.name, "group": 2, "weight": get_weight(x.num_refs)}))))
        .filter((v,i,a) => a.indexOf(v).id === i.id)
        .sort((a,b) => b.weight - a.weight)
        .slice(0, 20);

    master_links = master_links.concat(
        master_nodes.map(x => ({"source": (x.group == 0) ? x.id : starticle, "target": (x.group == 0) ? starticle : x.id, "value": x.weight})));


//    function addNewArticles    

    var promises = []
    var results = []
    var url = location.origin

    function closure(i, callback) {
        return function(n) {
            return callback(i, n);
        }
    }

    for (var i = 0; i < master_nodes.length; i++) {
        console.log("Getting links for " + master_nodes[i].id);
        promises.push(new $.Deferred());
        $.ajax({
            "url": url + "/api/clickstream/to/" + master_nodes[i].id,
            "success": closure(i, function (i, n) {
                results.push({"result": n, "is_to": true, "name": master_nodes[i].id});
                promises[2*i].resolve();}),
        });
        promises.push(new $.Deferred());
        $.ajax({
            "url": url + "/api/clickstream/from/" + master_nodes[i].id,
            "success": closure(i, function (i, n) {
                results.push({"result": n, "is_to": false, "name": master_nodes[i].id});
                promises[(2*i)+1].resolve();}),
        });
    }

    function get_internal_links(jsondata, nodes, name, is_to) {
        var nlinks = []
        for (var j = 0; j < jsondata.length; j++) {
            console.log("Linking to " + jsondata[j].name)
            var index = nodes.findIndex(x => x.id == jsondata[j].name)
            if (index != -1) {
                nlinks.push({"source": (is_to) ? name : jsondata[j].name, "target": (is_to) ? jsondata[j].name : name, "value": get_weight(jsondata[j].num_refs)});
            }
        }
        return nlinks
    }

    $.when.apply($, promises).done( function() {
        var new_links = []
        for (var i = 0; i < results.length; i++) {
            console.log("Found links for " + results[i].name)
            console.log(results[i])
            var jsondata = results[i].result
            new_links = new_links.concat(get_internal_links(jsondata, master_nodes, results[i].name, results[i].is_to));
        }
        master_links = master_links.concat(new_links.sort((a,b) => b.value - a.value).slice(0, 20));

        console.log("About to finish doing stuff")

        finish_doing_stuff();
    });

    function finish_doing_stuff()
    {
        console.log("Finishing doing stuff")
        master_nodes.push({"id": starticle, "group": 1})

        var mygraph = {};
        mygraph.nodes = master_nodes;
        mygraph.links = master_links;

        console.log(mygraph)

    	var margin = {top: 20, right: 20, bottom: 20, left: 10},
    	      width = window.innerWidth - margin.left - margin.right,
    	      height = window.innerHeight - margin.top - margin.bottom;

    	var svg = d3.select("#chart").append("svg")
            .attr("width", width)
            .attr("height", height);

        var color = d3.scaleOrdinal(d3.schemeCategory20);

        var simulation = d3.forceSimulation()
            .force("link", d3.forceLink().id(function(d) { return d.id; }))
            .force("charge", d3.forceManyBody())
            .force("center", d3.forceCenter(width / 2, height / 2));

        simulation.force("charge").strength(-1 * Math.min(width, height))

      var link = svg.append("g")
          .attr("class", "links")
        .selectAll("line")
        .data(mygraph.links)
        .enter().append("line")
          .attr("stroke-width", function(d) { return (d.value); });

      var node = svg.append("g")
          .attr("class", "nodes")
        .selectAll("circle")
        .data(mygraph.nodes)
        .enter().append("g")
        .call(d3.drag()
              .on("start", dragstarted)
              .on("drag", dragged)
              .on("end", dragended));

        node.append("circle")
          .attr("r", 5)
          .attr("fill", function(d) {return color(d.group)} );

        node.append("text")
            .attr("dx", 12)
            .attr("dy", ".35em")
            .text(function(d) { return d.id.replace(/_/g, ' ') });

      simulation
          .nodes(mygraph.nodes)
          .on("tick", ticked);

      simulation.force("link")
          .links(mygraph.links);

    function ticked() {
        link
            .attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

/*        node
            .attr("cx", function(d) { return d.x; })
            .attr("cy", function(d) { return d.y; });
*/
        node
            .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
      }

        function dragstarted(d) {
          if (!d3.event.active) simulation.alphaTarget(0.3).restart();
          d.fx = d.x;
          d.fy = d.y;
        }

        function dragged(d) {
          d.fx = d3.event.x;
          d.fy = d3.event.y;
        }

        function dragended(d) {
          if (!d3.event.active) simulation.alphaTarget(0);
          d.fx = null;
          d.fy = null;
        }
   }


	</script>
{% endblock %}

{% block content %}

<h1 id="title1">Wikipedia Clicks & Hierarchies</h1>
	<div class="btn-group btn-group-toggle" data-toggle="buttons">
  		<label class="btn btn-secondary active" id="option_click">
    		<input type="radio" name="options" id="option1" autocomplete="off" checked> Clickstream
  		</label>
  		<label class="btn btn-secondary" id="option_hier">
    		<input type="radio" name="options" id="option2" autocomplete="off"> Hierarchy
  		</label>
	</div>


		<form action="/wikiviz" method="post">
			<div class="form-group1">
            	{{ form.csrf }}

				<!-- <div type="search" placeholder="search another page" class="form-control" id="wikipage"> -->
					{{ form.article }}
				<!-- </div> -->
				<button type="submit" class="btn btn-default">Search</button>
			</div>
		</form>
    <div id="chart"></div>

{% endblock %}
