{% extends "bootstrap/base.html" %}
{% block styles %}
    {{ super()}}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block scripts %}
{{super()}}

<script lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.js"></script>
<script lang="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

<style>
.links line {
  stroke: #555;
  stroke-opacity: 0.6;
}

#heading {
    display: inline-block;
    width: 100%;
}

.nodes circle {
  stroke: #000;
  stroke-width: 1.5px;
}

.form-group1 {
    width: 20%;
    margin-left: 10%;
    padding-top: 20px;
}

#chart {
    /* position: fixed; */
    width: 70%;
    display: inline-block;
    height: 100%;
}

#side_menu {
    position: fixed;
    width: 25%;
    overflow-y: scroll;
    top: 0;
    margin-left: 5%;
    border-left: 1px dashed;
    /* vertical-align: 0%; */
    bottom: 0;
    display: inline-block;
}

#side_menu form {
    align-content: center;
}


.wikipreview {
    width:100%;
}

.wikipreview p {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    background-color: #f4feef;
}

.wikipreview h4 {
    text-align: center;
}

.wikipreview img {
    width: 100%;
    height: 200px;
}


</style>

<script>

    /* For Getting WikiPreview Data
     *
     * article_link = "https://en.wikipedia.org/api/rest_v1/page/summary/" + Political_philosophy (article name)

    article_link = "https://en.wikipedia.org/api/rest_v1/page/summary/Individualist_anarchism"

    jQuery.getJSON(article_link, function(resp) {
        console.log(resp);
    })

     * response has image link if applicable, title, and summary text
     */

    $(document).ready(function(){
    $("#article").autocomplete({
        source: function(request, response) {
            $.ajax({
                url: "http://en.wikipedia.org/w/api.php",
                dataType: "jsonp",
                data: {
                    'action': "opensearch",
                    'format': "json",
                    'search': request.term
                },
                success: function(data) {
                    response(data[1]);
                }
            });
        }
    });

    });

    var num_core_nodes = 0;

    var master_nodes = [];
    var master_links = [];

    function get_weight(v) {
        return Math.log(v);
    }

    function node_num_algo(n) {
        return 20 + (5 * (n - 1));
    }

    var raw_results_to = '{{ results_to |tojson}}'
    var raw_results_from = '{{ results_from |tojson}}'
    var starticle = '{{article}}'

    var results_to = JSON.parse(raw_results_to);
    var results_from = JSON.parse(raw_results_from);

    var url = location.origin

    function closure(i, callback) {
        return function(n) {
            return callback(i, n);
        }
    }

    d3.selection.prototype.moveToFront = function() {
      return this.each(function(){
        this.parentNode.appendChild(this);
      });
    };

    d3.selection.prototype.moveToBack = function() {
        return this.each(function() {
            var firstChild = this.parentNode.firstChild;
            if (firstChild) {
                this.parentNode.insertBefore(this, firstChild);
            }
        });
    };

    function isElementInViewport (el) {

        var rect = el.getBoundingClientRect();

        return (
            rect.top >= 0 &&
            rect.left >= 0 &&
            rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && /*or $(window).height() */
            rect.right <= (window.innerWidth || document.documentElement.clientWidth) /*or $(window).width() */
        );
    }

    function get_set_from_nodes(array) {
        var outarr = array.filter((v,i,a) => a.findIndex(x => x.title == v.title) == i);
        return outarr
    }

    function get_set_from_links(array) {
        return array.filter((v,i,a) => a.findIndex(x => get_source(x) == get_source(v) && get_target(x) == get_target(v)) == i);
    }

    function add_new_article(innodes, inlinks, article, nnum, callback) {
        var promises = [new $.Deferred(), new $.Deferred()];
        var results = [];
        get_article_data(article, results, promises[0], promises[1]);

        var new_article_node = {"title": article, "group": 1, "weight": 0};

        $.when.apply($, promises).done(function () {
            var ngraph = generate_article_graph_data(article, results, [new_article_node], nnum, true);

            var new_nodes = ngraph[0];

            var new_links = ngraph[1];

            var lpromises = [];
            var lresults = [];
            for (var i = 0; i < new_nodes.length; i++) {
                lpromises.push(new $.Deferred());
                lpromises.push(new $.Deferred());
                get_article_data(new_nodes[i].title, lresults, lpromises[2*i], lpromises[(2*i)+1]);
            }

            $.when.apply($, lpromises).done(function () {
                var lgraph = generate_article_graph_data(article, lresults, new_nodes.concat(innodes.filter(x => x.group != 1)), 0, false);

                var links = new_links.concat(lgraph[1]).concat(inlinks);
                var nodes = new_nodes.concat(innodes);

                var og_node = nodes.findIndex(x => x.title == article);

                if (og_node == -1) {
                    nodes.push(new_article_node);
                } else {
                    nodes[og_node].group = 1;
                }

                console.log("RESULTS")
                console.log(nodes)
                console.log(links)

                callback(nodes, get_set_from_links(links))

            });
        });

        function get_internal_links(jsondata, nodes, name, is_to) {
            var nlinks = []
            for (var j = 0; j < jsondata.length; j++) {
                var index = nodes.findIndex(x => x.title == jsondata[j].name)
                if (index != -1) {
                    nlinks.push({"source": (is_to) ? name : jsondata[j].name, "target": (is_to) ? jsondata[j].name : name, "value": get_weight(jsondata[j].num_refs)});
                }
            }
            return nlinks
        }

        function generate_article_graph_data(article, data, nodes, nnum, should_nodes) {
            var nnodes = [];
            var nlinks = [];
            if (should_nodes) {
                for (var j = 0; j < data.length; j++) {
                    nnodes = nnodes.concat(
                        data[j].result.map(x => ({"title": x.name, "group": 0, "weight": x.num_refs}))
                    );
                }
            }

            nnodes = get_set_from_nodes(nnodes);

            nnodes = nnodes.sort((a,b) => b.weight - a.weight).slice(0, nnum)

            for (var i = 0; i < data.length; i++) {
                nlinks = nlinks.concat(get_internal_links(data[i].result, nnodes.concat(nodes), data[i].name, data[i].is_to));
            }
            return [nnodes, get_set_from_links(nlinks)];
        }

        function get_article_data(article, results, promise_to, promise_from) {
            $.ajax({
                "url": url + "/api/clickstream/to/" + article,
                "success": function(n) {
                    results.push({"result": n, "is_to": true, "name": article});
                    promise_to.resolve();
                }
            });
            $.ajax({
                "url": url + "/api/clickstream/from/" + article,
                "success": function(n) {
                    results.push({"result": n, "is_to": false, "name": article});
                    promise_from.resolve();
                }
            });
        }
    }

    function xor(a, b) {
        return (a || b) && !(a && b);
    }

    function hover(d){
        // console.log("HOVER")
        // console.log(d)
        // console.log(d.title)

        //document.getElementById(d.title.replace(/\(|\)/g, "_")).style("fill", "green")

        var sheet = document.createElement('style')
        var line = document.getElementById(d.title.replace(/\|\)/g, "_"));
        if (!isElementInViewport(line)) {
            line.scrollIntoView();
        }

        sheet.innerHTML = "#" + d.title.replace(/\(|\)/g, "_") + " {border: 3px solid black; background-color: green; transition: background-color 2s}";
        document.body.appendChild(sheet);

        // console.log(document.getElementById(d.title.replace(/\(|\)/g, "_")))
        // console.log("next is")
        // console.log("#".concat(d.title.replace(/\(|\)/g, "_")))
        d3.select("#".concat(d.title.replace(/\(|\)/g, "_").concat("circle")))
            .transition()
            .duration(250)
            .style("fill", "green")
    }
    function unhover(d){
        // console.log("HOVER")
        // console.log(d)
        // console.log(d.title)

        var sheet = document.createElement('style')
        sheet.innerHTML = "#" + d.title.replace(/\(|\)/g, "_") + " { border: 1px solid lightgrey; background-color: white; transition: background-color 1s}";
        document.body.appendChild(sheet);        

        // console.log(document.getElementById(d.title.replace(/\(|\)/g, "_")))
        // console.log("next is")
        // console.log("#".concat(d.title.replace(/\(|\)/g, "_")))
        d3.select("#".concat(d.title.replace(/\(|\)/g, "_").concat("circle")))
            .transition()
            .duration(250)
            .style("fill", color(d.group))
    }
    function get_source(weird) {
        return weird.source.title || weird.source;
    }

    function get_target(weird) {
        return weird.target.title || weird.target;
    }

    function trim_graph(mnodes, mlinks, ncn) {
        mnodes = get_set_from_nodes(mnodes);
        mlinks = get_set_from_links(mlinks);

        var safe_nodes = mnodes.filter(x => x.group == 1);
        var risk_nodes = mnodes.filter(x => safe_nodes.findIndex(y => y.title == x.title) == -1);

        var safe_links = mlinks.filter(x => mnodes.find(y => y.title == get_source(x)).group == 1 && mnodes.find(y => y.title == get_target(x)).group == 1);
        var risk_links = mlinks.filter(x => xor(mnodes.find(y => y.title == get_source(x)).group == 1, mnodes.find(y => y.title == get_target(x)).group == 1));
        var intr_links = mlinks.filter(x => !(mnodes.find(y => y.title == get_source(x)).group == 1 || mnodes.find(y => y.title == get_target(x)).group == 1));

        var top_risk_links = risk_links.sort((a,b) => b.value - a.value).slice(0, ncn);
        var top_risk_nodes = risk_nodes.filter(x => top_risk_links.findIndex(y => x.title == get_source(y)) != -1 || top_risk_links.findIndex(y => x.title == get_target(y)) != -1);

        var valid_intr_links = intr_links.filter(x => top_risk_nodes.findIndex(y => y.title == get_source(x)) != -1 && top_risk_nodes.findIndex(y => y.title == get_target(x)) != -1);

        var top_intr_links = valid_intr_links.sort((a,b) => b.value - a.value).slice(0, ncn);

        return [safe_nodes.concat(top_risk_nodes), safe_links.concat(top_risk_links).concat(top_intr_links)];
    }

    function loader(config) {
      return function() {
        var radius = config.radius;
        var tau = 2 * Math.PI;

        var arc = d3.arc()
                .innerRadius(radius*0.5)
                .outerRadius(radius*0.9)
                .startAngle(0);

        var svg = d3.select(config.container).append("g")
            .attr("id", config.id)
            .attr("transform", "translate(" + config.width / 2 + "," + config.height / 2 + ")")

        var backdrop = svg.append("rect")
            .attr("x", -config.width / 2).attr("y", -config.height / 2)
            .attr("width", config.width).attr("height", config.height)
            .style("fill", "white").style("opacity", 0.5);

        var background = svg.append("path")
                .datum({endAngle: 0.33*tau})
                .style("fill", "#4D4D4D")
                .attr("d", arc)
                .call(spin, 1500)

        function spin(selection, duration) {
            selection.transition()
                .ease(d3.easeLinear)
                .duration(duration)
                .attrTween("transform", function() {
                    return d3.interpolateString("rotate(0)", "rotate(360)");
                });

            setTimeout(function() { spin(selection, duration); }, duration);
        }

        function transitionFunction(path) {
            path.transition()
                .duration(7500)
                .attrTween("stroke-dasharray", tweenDash)
                .each("end", function() { d3.select(this).call(transition); });
        }

      };
    }

    var margin = {top: 20, right: 20, bottom: 20, left: 10},
          width = window.innerWidth*.8 - margin.left - margin.right,
          height = window.innerHeight - margin.top - margin.bottom,
          radius = 15;

    var svg = d3.select("#chart").append("svg")
        .attr("width", width)
        .attr("height", height)
        .attr("id", "container");

    var list = d3.select("#article_list")

    var color = d3.scaleOrdinal(d3.schemeCategory20);

    var loadicon = loader({"width": width, "height": height, "radius": Math.min(width, height) / 4, "container": "#container", "id": "loader"});
    loadicon();

    var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function(d) { return d.title; }))
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter(width / 2, height / 2))
        .on("tick", ticked);

    simulation.force("charge").strength(-1 * Math.min(width, height))

    var link = svg.append("g")
        .attr("class", "links")
        .selectAll(".link")

    var node = svg.append("g")
        .attr("class", "nodes")
        .selectAll(".node");

    num_core_nodes += 1;
    add_new_article(master_nodes, master_links, starticle, node_num_algo(num_core_nodes), finish_doing_stuff);
    var mygraph = {"nodes": [], "links": []};
    console.log(mygraph)

    function finish_doing_stuff(ooga_nodes, booga_links)
    {
        var spinner = d3.select("#loader");
        spinner.moveToBack();
        spinner.style("opacity", 0);

        var trimmed = trim_graph(ooga_nodes, booga_links, node_num_algo(num_core_nodes));

        mygraph.nodes = trimmed[0];
        mygraph.links = trimmed[1];

/*
        mygraph.nodes.forEach(function(x) {
            list.append("strong")
                .text(x.title);
        });
*/
        restart(mygraph.nodes, mygraph.links);
    }

    function restart(nodes, links) {

        d3.selectAll(".fnode").remove();
        d3.selectAll(".flink").remove();

        nodes.forEach(function(v) { delete v.x; delete v.y; });

        node = node.exit().remove();
        node = node.data(nodes).enter().append("g")
            .on('contextmenu', function(d, i ) {
                d3.event.preventDefault();
                num_core_nodes += 1;
                add_new_article(nodes, links, d.title, node_num_algo(num_core_nodes), finish_doing_stuff);
                var spinner = d3.select("#loader");
                spinner.moveToFront();
                spinner.style("opacity", 1);
            })
            .call(d3.drag()
                .on("start", dragstarted)
                .on("drag", dragged)
                .on("end", dragended))
            .attr("class", "fnode");
            // replace(/\(|\)/g, "_")
            // .attr("id", function(d) {return d.title.replace(/\(|\)/g, "_")});

        node.append("circle")
          .attr("r", radius)
          .attr("fill", function(d) {return color(d.group)} )
          .attr("id", function(d) {return d.title.replace(/\(|\)/g, "_").concat("circle")})
          .on("mouseover", hover)
          .on("mouseout", unhover);

        link = link.exit().remove();
        link = link.data(links).enter().append("line")
            .attr("stroke-width", function(d) { return (d.value); })
            .attr("class", "flink");

        simulation
            .nodes(nodes)
        simulation.force("link")
            .links(links);

        simulation.alpha(1).restart();

/*
        // document.getElementById('article_list').innerHTML = " <strong> Article List <strong> ";
        console.log(document.getElementsByClassName("fnode").length)
        document.getElementById('article_list').innerHTML = "<ul class=\"list-group\">"
        // document.getElementsByClassName("fnode").length
        for (var i = 0; i < nodes.length; i++){
            document.getElementById('article_list').innerHTML += "<li class=\"list-group-item\" id=\"" + mygraph.nodes[i].title.replace(/\(|\)/g, "_") + "\">" + mygraph.nodes[i].title.replace(/_/g, ' ') + "</li>";
    }
        document.getElementById('article_list').innerHTML += "</ul> <br>"
*/
        var alist = d3.select("#article_list");
        alist.selectAll("*").remove();
        var listelem = alist.append("ul")
            .attr("class", "list-group");

        var sortednodes = nodes.sort((a,b) => a.title.localeCompare(b.title));

        for (var i = 0; i < sortednodes.length; i++) {
            listelem.append("li")
                .attr("class", "list-group-item")
                .attr("id", sortednodes[i].title.replace(/\(|\)/g, "_"))
                .text(sortednodes[i].title.replace(/_/g, ' '))
                .on("mouseover", closure(sortednodes[i], function(n) { return hover(n) }))
                .on("mouseout", closure(sortednodes[i], function(n) { return unhover(n) }))
                .on('contextmenu', closure(sortednodes[i], function(d) {
                    d3.event.preventDefault();
                    num_core_nodes += 1;
                    add_new_article(nodes, links, d.title, node_num_algo(num_core_nodes), finish_doing_stuff);
                    var spinner = d3.select("#loader");
                    spinner.moveToFront();
                    spinner.style("opacity", 1);
                }));
       }
    }

    function ticked() {
       node
            .attr("transform", function(d) { return "translate(" + Math.max(radius, Math.min(width - radius, d.x)) + "," + Math.max(radius, Math.min(height - radius, d.y)) + ")"; });

       link
            .attr("x1", function(d) { return d.source.x; })
            .attr("y1", function(d) { return d.source.y; })
            .attr("x2", function(d) { return d.target.x; })
            .attr("y2", function(d) { return d.target.y; });

      }

        function dragstarted(d) {
          if (!d3.event.active) simulation.alphaTarget(0.3).restart();
          d.fx = d.x;
          d.fy = d.y;
        }

        function dragged(d) {
          d.fx = d3.event.x;
          d.fy = d3.event.y;
        }

        function dragended(d) {
          if (!d3.event.active) simulation.alphaTarget(0);
          d.fx = null;
          d.fy = null;
        }

    //window.onload = function() {

    // document.getElementById('article_list').innerHTML = " <strong> Article List <strong> ";
    // console.log(document.getElementsByClassName("fnode").length)
    // for (var i = 0; i < document.getElementsByClassName("fnode").length; i++){
    //     console.log("IN LOOP")
    //     document.getElementById('article_list').innerHTML = " <strong> Article List YES <strong> ";
    // }
    //}

    </script>
{% endblock %}

{% block content %}

<div id="heading"><h1 id="title1">Wikipedia Clicks & Hierarchies</h1></div>
<div id="chart"></div>
<div id="side_menu">
    <form action="/wikiviz" method="post">
        <div class="form-group1">
            {{ form.csrf }}

            <!-- <div type="search" placeholder="search another page" class="form-control" id="wikipage"> -->
                {{ form.article }}
            <!-- </div> -->
            <button type="submit" class="btn btn-default">Search</button>
            <br>
            <br>
        </div>
    </form>
    <div id="article_list">
        <h3 id="title1"> Article List </h3>
<!--     {% for result in results_to %}
      <strong>Article:</strong> {{ result['name']}} <br>
      <strong>Info:</strong> {{ result }} <br>
    <br>
    {% endfor %} -->
    </div>
    <div id="wikidiv">
        <div class="wikipreview">
            <h4>Political philosophy</h4>
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/Sanzio_01_Plato_Aristotle.jpg"></img>
            <p><b>Political philosophy</b>, or <b>political theory</b>, is the study of topics such as politics, liberty, justice, property, rights, law, and the enforcement of laws by authority: what they are, why they are needed, what, if anything, makes a government legitimate, what rights and freedoms it should protect and why, what form it should take and why, what the law is, and what duties citizens owe to a legitimate government, if any, and when it may be legitimately overthrown, if ever.</p>
            <hr>
        </div>

        <div class="wikipreview">
            <h4>Individualist anarchism</h4>
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Anarchy-symbol.svg"></img>
            <p><b>Individualist anarchism</b> refers to several traditions of thought within the anarchist movement that emphasize the individual and their will over external determinants such as groups, society, traditions and ideological systems. Individualist anarchism is not a single philosophy but refers to a group of individualistic philosophies that sometimes are in conflict. Benjamin Tucker, a famous 19th century individualist anarchist, held that &quot;if the individual has the right to govern himself, all external government is tyranny&quot;.</p>
            <hr>
        </div>

    </div>
</div>

{% endblock %}
